<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        <div class="w3-container w3-margin">
            <h2>Add customer</h2>
            
            <form action="#" th:action="@{/addCustomer}"
                  th:object="${custForm}" method="post">
                <label for="name">Name:</label>
                <input id="name" type="text" th:field="*{name}"  />
                <p th:if="${#fields.hasErrors('name')}" 

                  th:errors="*{name}">Name Errors</p>
                <input type="submit" value="Submit"> 
            </form>

        </div>
    </body>
</html>
